{% extends 'layouts/base_user.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
  <h1>Administrador</h1>
  <table>
    <button class="create">Crear una fruta</button>
    <thead>
      <tr>
        <th>Id</th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Unidades disponibles</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for fruit in fruits %}
        <tr class="register">
          <td>{{ fruit.id }}</td>
          <td>
            <img src="{% static fruit.img|make_list|slice:'17:'|join:'' %}" alt="fruta">
          </td>
          <td>{{ fruit.name }}</td>
          <td>{{ fruit.category }}</td>
          <td>{{ fruit.avaible_units }}</td>
          <td>{{ fruit.price }}</td>
          <td>
            <div class="actions">
              <button>Editar</button>
              <button>Eliminar</button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}