{% extends 'layouts/base_user.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <h1>Formulario</h1>

    <div class="login">
        <b class="error">{{ error }}</b>
        <form enctype="multipart/form-data" method="post">
            <div class="login-item">
                <label>Imagen</label>
                <input name="img" type="file" required>
            </div>
            <div class="login-item">
                <label>Nombre</label>
                <input name="name" type="text" required>
            </div>
            <div class="login-item">
                <label>Categoría</label>
                <select name="category" required>
                    {% for category in categories %}
                        <option value="{{ category.id }}">
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="login-item">
                <label>Unidades disponibles</label>
                <input name="available_units" type="number" required>
            </div>
            <div class="login-item">
                <label>Precio</label>
                <input name="price" type="number" required>
            </div>
            {% csrf_token %}
            <button type="submit" class="boton">Enviar</button> 
        </form>
    </div>
{% endblock %}