{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="icon" href="{% static 'imgs/logo.png' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>Fruit Market</title>
</head>
<body>
  <nav>
    <section class="nav-item">
      <img src="{% static 'imgs/logo.png' %}" alt="Logo">
      <h2>Fruit Market</h2>
    </section>
    <ul class="nav-item">
      <li>
        <a href="/">Home</a>
      </li>
      {% if user.is_authenticated %}
        <li>
          <a href="/catalogue">Catálogo</a>
        </li>
        <li>
          <a href="/admin">Administrador</a>
        </li>
        <li>
          <a href="/logout">Cerrar Sesión</a>
        </li>
      {% else %}
      <li>
        <a href="/login">Iniciar sesión</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <main>
    <aside class="side-content">
      <span class="fruits"></span>
    </aside>
    <section class="main-content">
      {% block content %}
      {% endblock %}
    </section>
  </main>
</body>
</html>