.fruits {
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
}

.fruit {
  width: 300px;
  text-align: center;
  transition: .3s;
}

.fruit a {
  text-decoration: none;
  color: white;
  transition: .3s;
}

.fruit:hover {
  transform: scale(1.1);
  background-color: var(--opaque-secondary-color);
}

.fruit:hover a {
  color: white;
}

.fruit img {
  width: 250px;
}