{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/fruit.css' %}">
  <h1>Fruit Page</h1>
  <div class="fruit">
    <img src="{% static fruit.img|make_list|slice:'17:'|join:'' %}" alt="fruta">
    <div class="fruit-details">
      <h2>{{ fruit.name }}</h2>
      <p>Categoría: {{ fruit.category }}</p>
      <p>Unidades disponibles: {{ fruit.available_units }}</p>
      <p>Precio: {{ fruit.price }}$</p>
    </div>
  </div>
{% endblock %}